body {
	background-color: #12232E;
}

.jumbotron {
	background-color: #EEFBFB;
}

.page-header {
	padding-top: 25px;
	color: #EEFBFB;
	font-size: 75px;
	font-weight: bold;
}

.home {
	height: 400px;
}

.carousel .item {
  height: 800px;
}

.item img {
    position: block;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 800px;
    margin-left: auto;
	margin-right: auto;
}

.squaretabs {
	margin-top: 35px;
}

.serviceandnews {
	margin-top: 50px;
}

#carouselh1 {
	font-size: 75px;
	font-weight: bold;
}

.services {
	background-color: #203647;
}

.services-info {
	font-size: 8vw;
	background-color: #4DA8DA ;
}

.services-table{
	color:#EEFBFB;
	font-size: 35px;
}

.services-btm {
	color: #EEFBFB;
}

.contact {
	background-color: #203647;
}
.contact h1{
	color: #EEFBFB;
}

.contact-info h2
{
	color: #4DA8DA;
}

.contact-transition {
	font-size: 60px;
	margin-top: 75px;
	margin-bottom: 25px;
}

footer {
	color: #4DA8DA;
	margin-top: 150px;
}

.newsletter {
	color: #EEFBFB;
}


.newsletter h2 {
	font-size: 45px;
	color: #EEFBFB;
	text-align: center;
}

.newsletter p {
	font-size: 25px;
	color: #EEFBFB;
}

.news-article {
	background-color: #203647 ;
	color: #EEFBFB;
	font-size: 8vw;
	transition: 1s;
}

.news-header {
	text-align: center;
}

.about{
	background-color: #203647;
}

.news-body {
	background-color: #203647;
}

.people {
	color:  #EEFBFB;
	background-color: #12232E ;
}

.home {
	background-color: #EEFBFB;
	transition: 0.75s;
}

.home:hover {
	background-color: #203647;
	color: #EEFBFB;
}

.services-change {
	background-color: #12232E;
}


tr {
	background-color: #12232E;
	transition: 1s;
}

tr:hover {
	background-color: #007CC7;
}

.news-change {
	background-color: #007CC7;
}

.sources {
	color: #EEFBFB;
}

.img-header {
	text-align: center;
}

.contact-form {
	color: #EEFBFB;
}

.news-article:hover {
	color: #12232E;
	background-color: #007CC7;
}

.about-article {
	background-color: #203647 ;
	color: #EEFBFB;
	font-size: 8vw;
}


.profile {
	transition:.3s;
}

.profile:hover {
	transform: scale(1.25);
}

.desc {
	text-align: center;
	margin-top: 20px;
}